#container{
    background-color: #ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#topo{
    position: relative;
    background-color: #dbc87d;
    height: 15.4em;
    min-height: 250px;
}

#area-logo{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    z-index: 1;
}

.logo a{

}

#area-menu{
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    z-index: 2;
}